Lab0/P0_check.sh
Lab0/functions.sh
Lab0/lab0-404937201.tar.gz
lab0
Lab1A/lab1a_sanity_sript.sh
Lab1A/lab1-404937201.tar.gz
Lab1A/404937201/
Lab1A/c2out.t
Lab1A/lab1---------.tar.gz
Lab1A/lab1-------.tar.gz
Lab1A/simpsh
Lab1A/test2err.t
Lab1A/test2in.t
Lab1A/test2out.t
Lab1B/404937201/
Lab1B/a7.txt
Lab1B/lab1b_sanity_script.sh
Lab1B/untitiled.sh
Lab1B/untitled.sh
Lab1B/lab1-404937201.tar.gz
../Lab1B/c21err.txt ../Lab1B/c21out.txt
/Lab1B/c21*
/Lab1B/c21err.txt
/Lab1B/c21out.txt
/Lab1B/test21io.txt
/Lab1B/test21io2.txt
/Lab1B/simpsh
Lab1C/err.txt 
Lab1C/err.t
Lab1C/file.t 
Lab1C/file.t 
Lab1C/lab1-404937201.tar.gz 
Lab1C/lab1b_sanity_script.sh
Lab1C/lab1c_sanity_script.sh 
Lab1C/large_file.txt 
Lab1C/large_file
Lab1C/out.t
Lab1C/output.txt
Lab1C/out.txt
Lab1C/pg98.txt
Lab1C/test1_file.txt
Lab1C/thisfile.t
Lab1C/memes.c
Lab2A/lab2_add 
Lab2A/lab2_list 
Lab2A/lab2a-404937201.tar.gz
